{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}

{% set mainClasses = "app-main-wrapper" %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  <header class="govuk-template__header app-header-row">
    {% block govukHeader %}
      {{ govukHeader({
        homepageUrl: "https://www.gov.uk/",
        classes: "app-header",
        containerClasses: "govuk-width-container"
      }) }}
    {% endblock %}
    {% block govukServiceNavigation %}
      {{ govukServiceNavigation({
        serviceName: serviceName,
        serviceUrl: serviceUrl,
        navigation: navigation if navigation else [
          {
            href: "/signout",
            text: "Sign out"
          }
        ]
      }) }}
    {% endblock %}
  </header>
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy"
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Accessibility statement"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
